
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Crooc/Views/Shared/_CroocMaster.cshtml";
}

<div class="col-md-9">
    <article class="post single-post clearfix">
        <div class="post-inner">
            <h2 class="post-title"><span class="post-type"><i class="icon-film"></i></span>Beautiful Gallery Post.</h2>

            <div class="post-img">
                <a href="single_post.html"><img alt="" src="~/Areas/Crooc/Content/images/posts/loneliness-1440x900.jpg"></a>
            </div>
            <div class="post-meta">
                <span class="meta-author"><i class="icon-user"></i><a href="index.htm#">Administrator</a></span> <span class="meta-date"><i class="icon-time"></i>September 30 , 2013</span> <span class="meta-categories"><i class="icon-suitcase"></i><a href="index.htm#">Wordpress</a></span> <span class="meta-comment"><i class="icon-comments-alt"></i><a href="index.htm#">15 comments</a></span>
            </div>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ornare, dolor a aliquet rutrum, dolor turpis condimentum leo, a semper lacus purus in felis. Quisque blandit posuere turpis, eget auctor felis pharetra eu.</p>
                <blockquote>
                    <p>Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.</p>
                </blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </article>
    <div class="share-tags page-content">
        <div class="post-tags">
            <i class="icon-tags"></i> <a href="index.htm#">projects</a>, <a href="index.htm#">Portfolio</a>, <a href="index.htm#">Wordpress</a>, <a href="index.htm#">Html</a>, <a href="index.htm#">Css</a>, <a href="index.htm#">jQuery</a>, <a href="index.htm#">2code</a>, <a href="index.htm#">vbegy</a>
        </div>
        <div class="share-inside-warp">
            <ul>
                <li>
                    <a href="index.htm#"><span class="icon_i"><span class="icon_square"><i class="social_icon-facebook"></i></span></span></a> <a href="index.htm#" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="index.htm#" target="_blank"><span class="icon_i"><span class="icon_square"><i class="social_icon-twitter"></i></span></span></a> <a href="index.htm#" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="index.htm#" target="_blank"><span class="icon_i"><span class="icon_square"><i class="social_icon-gplus"></i></span></span></a> <a href="index.htm#" target="_blank">Google plus</a>
                </li>
                <li>
                    <a href="index.htm#" target="_blank"><span class="icon_i"><span class="icon_square"><i class="social_icon-dribbble"></i></span></span></a> <a href="index.htm#" target="_blank">Dribbble</a>
                </li>
                <li>
                    <a href="index.htm#" target="_blank"><span class="icon_i"><span class="icon_square"><i class="icon-pinterest"></i></span></span></a> <a href="index.htm#" target="_blank">Pinterest</a>
                </li>
            </ul><span class="share-inside-f-arrow"></span> <span class="share-inside-l-arrow"></span>
        </div>
        <div class="share-inside">
            <i class="icon-share-alt"></i>Share
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="page-content" id="commentlist">
        <div class="boxedtitle page-title">
            <h2>Yorumlar ( <span class="color">5</span> )</h2>
        </div>
        <ol class="commentlist clearfix">
            <li class="comment">
                <div class="comment-body clearfix">
                    <div class="avatar"><img alt="" src="~/Areas/Crooc/Content/images/admin.jpeg"></div>
                    <div class="comment-text">
                        <div class="author clearfix">
                            <div class="comment-meta">
                                <span>admin</span>
                                <div class="date">
                                    January 15 , 2014 at 10:00 pm
                                </div>
                            </div><a class="comment-reply" href="index.htm#"><i class="icon-reply"></i>Reply</a>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                        </div>
                    </div>
                </div>
                <ul class="children">
                    <li class="comment">
                        <div class="comment-body clearfix">
                            <div class="avatar"><img alt="" src="~/Areas/Crooc/Content/images/avatar.png"></div>
                            <div class="comment-text">
                                <div class="author clearfix">
                                    <div class="comment-meta">
                                        <span>admin</span>
                                        <div class="date">
                                            January 15 , 2014 at 10:00 pm
                                        </div>
                                    </div><a class="comment-reply" href="index.htm#"><i class="icon-reply"></i>Reply</a>
                                </div>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                                </div>
                            </div>
                        </div>
                        <ul class="children">
                            <li class="comment">
                                <div class="comment-body clearfix">
                                    <div class="avatar"><img alt="" src="~/Areas/Crooc/Content/images/admin.jpeg"></div>
                                    <div class="comment-text">
                                        <div class="author clearfix">
                                            <div class="comment-meta">
                                                <span>admin</span>
                                                <div class="date">
                                                    January 15 , 2014 at 10:00 pm
                                                </div>
                                            </div><a class="comment-reply" href="index.htm#"><i class="icon-reply"></i>Reply</a>
                                        </div>
                                        <div class="text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="comment">
                        <div class="comment-body clearfix">
                            <div class="avatar"><img alt="" src="~/Areas/Crooc/Content/images/avatar.png"></div>
                            <div class="comment-text">
                                <div class="author clearfix">
                                    <div class="comment-meta">
                                        <span>admin</span>
                                        <div class="date">
                                            January 15 , 2014 at 10:00 pm
                                        </div>
                                    </div><a class="comment-reply" href="index.htm#"><i class="icon-reply"></i>Reply</a>
                                </div>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="comment">
                <div class="comment-body clearfix">
                    <div class="avatar"><img alt="" src="~/Areas/Crooc/Content/images/avatar.png"></div>
                    <div class="comment-text">
                        <div class="author clearfix">
                            <div class="comment-meta">
                                <span>admin</span>
                                <div class="date">
                                    January 15 , 2014 at 10:00 pm
                                </div>
                            </div><a class="comment-reply" href="index.htm#"><i class="icon-reply"></i>Reply</a>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class="comment-respond page-content clearfix" id="respond">
        <div class="boxedtitle page-title">
            <h2>Yorum Yaz</h2>
        </div>
        <form action="index.htm" class="comment-form" id="commentform" method="post" name="commentform">

            <div id="respond-textarea">
                <p>
                    <label class="required" for="comment">Mesajınız<span>*</span></label>
                    <textarea aria-required="true" cols="58" id="comment" name="comment" rows="10"></textarea>
                </p>
            </div>
            <p class="form-submit"><input class="button small color" id="submit" name="submit" type="submit" value="Yorumu Gönder"></p>
        </form>
    </div>
    <div class="post-next-prev clearfix">
        <p class="prev-post"><a href="index.htm#"><i class="icon-double-angle-left"></i>&nbsp;Önceki Hikaye</a></p>
        <p class="next-post"><a href="index.htm#">Sonraki Hikaye&nbsp;<i class="icon-double-angle-right"></i></a></p>
    </div>
</div>

